<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"><title>Golden Images - The Cloud Coach</title><meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="Golden Images" />
<meta property="og:description" content="Use Packer to build out Golden Images, allowing you to stablise and secure your deployments." />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://thecloud.coach/posts/golden-images/" />
<meta property="article:published_time" content="2020-01-15T00:00:00+00:00" />
<meta property="article:modified_time" content="2020-01-15T00:00:00+00:00" />
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="Golden Images"/>
<meta name="twitter:description" content="Use Packer to build out Golden Images, allowing you to stablise and secure your deployments."/>
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,300italic,400italic|Raleway:200,300" rel="stylesheet">

	<link rel="stylesheet" type="text/css" media="screen" href="https://thecloud.coach/css/normalize.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="https://thecloud.coach/css/main.css" />

	
	<script src="https://thecloud.coach/js/main.js"></script>
</head>

<body>
	<div class="container wrapper post">
		<div class="header">
	<h1 class="site-title"><a href="https://thecloud.coach/">The Cloud Coach</a></h1>
	<div class="site-description"><h2>CloudOps Educational Resources</h2><nav class="nav social">
			<ul class="flat"></ul>
		</nav>
	</div>

	<nav class="nav">
		<ul class="flat">
			
			<li>
				<a href="https://store.thecloud.coach/">Courses</a>
			</li>
			
			<li>
				<a href="https://discord.gg/MTzBvSS">Discord</a>
			</li>
			
		</ul>
	</nav>
</div>


		<div class="post-header">
			<h1 class="title">Golden Images</h1>
			<div class="meta">Posted at &mdash; Jan 15, 2020</div>
		</div>

		<div class="markdown">
			<p>When automating the delivery of software it doesn’t take long before you realise you can speed
things up, and make some things more secure, by pre-baking some machine images. After these images
have been incorporated into the deployment process, automation becomes easier and more stable.</p>
<h2 id="packer">Packer</h2>
<p>HashiCorp’s Packer is a perfect fit. Literally designed for making machine images such as AMIs, it
supports a wide range of providers (AWS, Azure, etc), builders, provisioners, and more.</p>
<p>It&rsquo;s the very <strong>definition</strong> of Images As Code (IAC.)</p>
<p>Packer uses a simple JSON configuration language to describe what image you want building and how to
provision it. It’s also easy to install, being a single binary (written in Go.)</p>
<p>More information can be found at <a href="https://packer.io/">packer.io</a>.</p>
<h2 id="development-workflow">Development Workflow</h2>
<p>Developing a new image is relatively straight forward but can get more complex depending on
requirements.</p>
<p>A simple EBS backed AMI will look something like this:</p>
<div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-fallback" data-lang="fallback">{
	&#34;variables&#34;: {
		&#34;aws_region&#34;: &#34;ap-southeast-2&#34;,
		&#34;aws_source_ami&#34;: &#34;ami-0328aad0f6218c429&#34;
	},
	&#34;builders&#34;: [
		{ 
			&#34;type&#34;: &#34;amazon-ebs&#34;,
			&#34;region&#34;: &#34;{{ user `aws_region`}}&#34;,
			&#34;source_ami&#34;: &#34;{{ user `aws_source_ami`}}&#34;,
			&#34;instance_type&#34;: &#34;t2.micro&#34;,
			&#34;ssh_username&#34;: &#34;ubuntu&#34;,
			&#34;ami_name&#34;: &#34;my-ami-{{timestamp}}&#34;,
			&#34;associate_public_ip_address&#34;: true
		}
	],
	&#34;provisioners&#34;: [
		{
			&#34;type&#34;: &#34;shell&#34;,
			&#34;inline&#34;: [ &#34;while [ ! -f /var/lib/cloud/instance/boot-finished ]; do echo &#39;Waiting for cloud-init...&#39;; sleep 1; done&#34; ]
		},
		{
			&#34;type&#34;: &#34;shell&#34;,
			&#34;script&#34;: &#34;provision.sh&#34;
		}
	]
}
</code></pre></div><p>Notice how we reference a provision.sh file? That’s the shell script that is pushed and executed on
the remote EC2 Instance (which Packer stands up for us) as whatever user you’re SSHing in as. In the
above example we SSH in as <code>ubuntu</code>, which means the provision.sh shell script will have to use
<code>sudo</code> whenever a privileged command is required.</p>
<p>Here’s an example <code>provision.sh</code> script that will update the package repository and the system’s
packages (including the kernel), then install a few packages:</p>
<div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-bash" data-lang="bash"><span style="color:#719e07">#!/bin/bash
</span><span style="color:#719e07"></span>
sudo apt clean
sudo apt update -y
sudo apt upgrade -y
sudo apt install unzip python-pip -y
</code></pre></div><p>Again notice the use of <code>sudo</code> here.</p>
<p>After these files have been written the engineer can create a new AMI very easily:</p>
<div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-fallback" data-lang="fallback">packer build ami.json
</code></pre></div><p>Packer will now read the file and build a new AMI in AWS for us.</p>
<h3 id="ami-names">AMI Names</h3>
<p>Inside of our ami.json file, above, we have the following code:</p>
<div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-fallback" data-lang="fallback">&#34;ami_name&#34;: &#34;my-ami-{{timestamp}}&#34;
</code></pre></div><p>This determines the name of the AMI. The use of <code>timestamp</code> is a convenience provided by Packer and
it will append a timestamp to the end of the AMI’s name. This prevents overlapping names that cause
Packer’s procesess to fail.</p>
<h3 id="fetching-the-ami">Fetching the AMI</h3>
<p>If you’re writing Terraform code and want to fetch this AMI, you might be wondering how you do this
given the timestamp at the end of the name? How do you calculate that? Or do you hard code AMIs and
update them when a new AMI is created?</p>
<p>In Terraform we can use a <code>data{}</code> block to fetch the <strong>latest</strong> AMI for us. Like this:</p>
<div class="highlight"><pre style="color:#93a1a1;background-color:#002b36;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-fallback" data-lang="fallback">data &#34;aws_ami&#34; &#34;agent&#34; {
	most_recent = true
	owners      = [&#34;self&#34;]
  	filter {
		name   = &#34;name&#34;
		values = [&#34;my-ami-*&#34;]
	}
}
</code></pre></div><p>Here we’re telling Terraform to fetch the latest AMI based on a pattern that conforms to the
<code>ami_name</code> we defined in our <code>ami.json</code> file.</p>
<hr>
<p>Baking AMIs, or Golden Images, is a great way to speed up the deployment of autoscaling resources or
simply manage the stability of any deployments by always building from a known-to-be-good, well
maintained base.</p>

		</div>

		<div class="post-tags">
			
				
					<nav class="nav tags">
							<ul class="flat">
								
								<li><a href="/tags/packer">packer</a></li>
								
								<li><a href="/tags/automation">automation</a></li>
								
								<li><a href="/tags/aws">aws</a></li>
								
								<li><a href="/tags/cloudops">cloudops</a></li>
								
								<li><a href="/tags/devops">devops</a></li>
								
							</ul>
					</nav>
				
			
		</div>
		</div>
	<div class="footer wrapper">
	<nav class="nav">
		<div> <a href="https://github.com/vividvilla/ezhil">Ezhil theme</a> | Built with <a href="https://gohugo.io">Hugo</a></div>
	</nav>
</div>




</body>
</html>
